/* CSS for WATS 3020 Image Maker Project */

/* Image Styles */
#image-preview {
    width: 1280px;
    height: 800px;
    background-color: #000;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    padding: 0.5rem;
}
.top-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    height: 300px;
    overflow: hidden;
    padding: 1rem;
    font-weight: 400;
}
.top-text span {
    color: yellow;
}
.top-link {
    position: absolute;
    left: 10px;
    top: 380px;
    font-size: 12px;
    color: yellow;
    z-index: 100;
}
.bottom-text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 620px;
    height: 300px;
    overflow: hidden;
    padding: 1rem;
    font-weight: 400;
}
.bottom-text span {
    color: yellow;
}
.bottom-link {
    position: absolute;
    right: 10px;
    bottom: 380px;
    font-size: 12px;
    color: yellow;
    z-index: 110;
}
.top-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 620px;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    background-repeat: none;
    background-position: center center;
}
.bottom-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 620px;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    background-repeat: none;
    background-position: center center;
}

.logo {
    font-size: 3rem;
    padding: 1rem;
    background: yellow;
    color: #000;
    font-weight: 900;
    font-style: italic;
    position: absolute;
    top: 370px;
    left: 400px;
    z-index: 1000;
    width: 400px;
    margin: auto auto;
}

a.rp-link,
a.rp-link:link,
a.rp-link:hover,
a.rp-link:visited,
a.rp-link:active {
    color: yellow;
    text-decoration: none;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    position: absolute;
}



/* Form Styles */
form input[type="submit"] {
    margin-bottom: 2rem;
}
#form-container {
    background: rgba(255,255,255,0.8);
    color: #666;
    padding: 0 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    z-index: 1000;
    height: 100vh;
    overflow-y: scroll;
}
input[type="submit"]{
    background: yellow;
    padding: 1rem;
    font-size: 20px;
    border: none;
}

/* General structure styles */
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: #000;
}

html {
    padding: 0;
    background-color: #000;
}